<!-- start of footer -->
<footer class="footer-container">
  <div class="footer-container-group">
      <h3>VISIT US</h3>
      <span>
          CodeSquad Comics<br />
          123 Dorchester Avenue<br />
          Boston, MA 02124
      </span>
  </div>
  <div class="footer-container-group">
      <h3>LINKS</h3>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/login">Login</a>
  </div>
  <div class="footer-container-group">
      <h3>FOLLOW US</h3>
      <div class="footer-container-font-awesome">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
  </div>
  <div class="footer-container-group">
      <h3>A PRODUCT OF</h3>
      <a href="http://codesquad.org/" target="_blank">
          <img class="footer-logo" src="/images/CodeSquad-logo-b.png" alt="CodeSquad logo">
      </a>
  </div>
</footer>
<!-- end of footer -->
</body>
<script src="/scripts/scripts.js"></script>
</html>